body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    position: relative;
    overflow-x: hidden; /* ESCONDE A BARRA DE ROLAGEM HORIZONTAL */ 

}

#total {
    box-sizing: border-box; /* Adicione esta linha para garantir que padding e border não aumentem a largura total de 1920px */
    width: 100%;
    height: 4713px;
    background: #1B263B;
    padding: 0;
    margin: 0;
    position: relative;
    opacity: 1;

}

#navbar {
    width: 100%;
    height: 130px;
    background: #415A77;
    border-radius: 80px;
    top: 10px;
    left: 0;
    position: fixed;
    box-shadow: 4px 4px 70px black;

}

button {
    width: auto;
    height: auto;
    background-color: #415A77;
    color: #E0E1DD;
    position: fixed;
    border-width: 0px;
    top: 56px;
    left: 100px;

}

#menu {
    width: auto;
    height: auto;
    background-color: #415A77;
    color: #E0E1DD;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: Bold;
    font-size: 18px;
    position: fixed;
    border-width: 0px;
    top: 50px;
    left: 144px;

}

#logo {
    width: 200px;
    height: 200px;
    background: url("../Imagem/LogoComNome.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: fixed;
    top: -24px;
    left: 870px;

}

input[type="text"] {
    width: 160px;
    height: 26px;
    background-color: #415A77;
    position: fixed;
    top: 56px;
    left: 1500px;
    border-radius: 30px;
    border-width: 1px;
    outline: none;

}

input[type="text"]::placeholder {
    color: #E0E1DD; /* Cor do placeholder do texto */
    padding-left: 56px; /* Mexe na palavra dentro da caixa de pesquisa */
    font-weight: Bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;

}

.botao-icon {
    width: auto;
    height: auto;
    background-color: #415A77;
    color: #E0E1DD;
    position: fixed;
    border-width: 0px;
    top: 56px;
    left: 1770px;

}

#titulo1 {
    width: 1920px;
    height: 130px;
    position: absolute;
    top: 300px;
    left: 200px;
    color: #E0E1DD;
    font-weight: bold;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;

}

#texto1 {
    width: 687px;
    position: absolute;
    top: 390px;
    left: 200px;
    color: #E0E1DD;
    word-spacing: -6px; /* Zera o espaçamento entre as palavras */
    font-weight: normal;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

#fotocondominio {
    width: 600px;
    height: auto;
    position: absolute;
    border-radius: 50px;
    top: 300px;
    left: 1100px;
    box-shadow: 4px 4px 70px #E0E1DD;
    border-image: 50px;

}

#titulo2{
    width: 400px;
    height: 130px;
    position: absolute;
    top: 1100px;
    left: 1000px;
    white-space: normal;
    color: #E0E1DD;
    font-weight: bold;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;

}

#texto2{
    width: 600px;
    height: 130px;
    position: absolute;
    top: 1260px;
    left: 1000px;
    color: #E0E1DD;
    word-spacing: -2px;
    font-weight: bold;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

#texto3{
    width: 600px;
    height: 130px;
    position: absolute;
    top: 1360px;
    left: 1000px;
    color: #E0E1DD;
    word-spacing: normal;
    font-weight: normal;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}

#fotopessoas{
    width: 600px;
    height: auto;
    position: absolute;
    border-radius: 20px;
    top: 1150px;
    left: 200px;
    box-shadow: 4px 4px 70px #778DA9;
    border-image: 50px;

}

#titulo3{
    width: 600px;
    height: 130px;
    position: absolute;
    top: 1900px;
    left: 200px;
    white-space: normal;
    color: #E0E1DD;
    font-weight: bold;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;

}

#lista{
    width: 28%;
    height: 130px;
    position: absolute;
    top: 2100px;
    left: 180px;
    display: flex; /* Transforma a lista em um contêiner flexível */
    flex-direction: column; /* Alinha os itens na coluna, verticalmente */
    gap: 10px; /* Adiciona 10 pixels de espaço entre os itens filhos (<li>) */
    white-space: normal;
    color: #E0E1DD;
    font-weight: normal;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;

}

#fotoplataforma{
    width: 600px;
    height: auto;
    position: absolute;
    border-radius: 20px;
    top: 2000px;
    left: 1100px;
    border-image: 50px;

}

#rodape{
    width: 100%;
    height: 443px;
    background: #0D1B2A;
    position: absolute;
    top: 4550px;
    left: 0px;

}

#logorodape{
    width: 200px;
    height: 200px;
    top: 30px;
    left: 120px;
    display: flex;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;

}

#conteudo{
    width: 1300px;
    height: 130px;
    position: absolute;
    top: 30px;
    left: 400px;
    display: flex; /* ativa as funções */
    row-gap: 20px;
    align-items: stretch; /* alinha de forma vertical a lista*/
    justify-content: space-between; /* da o espaço de lita pra lista*/
    white-space: 0;
    color: #E0E1DD;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}

#equipe{
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

#equipe2{
    width: 90%;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    
}

#equipe2 img{
    clip-path: circle();
    width: 40px;
    height: 40px;
    margin-left: -10px;

}