body {
    font-size: 14px;
}

#total {
    width: 1920px;
    height: 1080px;
    background: rgba(13, 27, 42, 1);
    padding: 565px 565px;
    margin: -10px;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;
}

#fundo {
    width: 790px;
    height: 790px;
    background: rgba(27, 38, 59, 1);
    opacity: 1;
    position: absolute;
    top: 145px;
    left: 565px;
    box-shadow: 4px 4px 100px rgba(0, 0, 0, 0.25);
    border-radius: 5%;
    overflow: hidden;

}

#logo {
    width: 293px;
    height: 293px;
    background: url("../Imagem/LogoSemNome.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: -57px;
    left: -66px;
    overflow: hidden;
}

#email {
    width: 539px;
    height: 85px;
    background: rgba(65, 90, 119, 1);
    opacity: 1;
    position: absolute;
    top: 204px;
    left: 125px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    overflow: hidden;

}

input[type="email"] {
    width: 450px;
    height: 85px;
    background-color: rgba(65, 90, 119, 1);
    position: absolute;
    top: 204px;
    left: 180px;
    color: #E0E1DD;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    border: 0px; /* Cor da borda */
    outline: none; /* Tira a borda ao clicar */
    box-sizing: border-box;
    text-align: left;

}

input[type="email"]::placeholder {
    color: #E0E1DD; /* Cor do placeholder similar à da imagem */
    opacity: 1;

}

#iconat {
    width: 24px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 232px;
    left: 144px;
    overflow: hidden;
}

#password {
    width: 539px;
    height: 85px;
    background: rgba(65,90,119,1);
    opacity: 1;
    position: absolute;
    top: 352px;
    left: 125px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    overflow: hidden;

}

input[type="password"]{
    width: 450px;
    height: 85px;
    background-color: rgba(65,90,119,1);;
    position: absolute;
    top: 352px;
    left: 184px;
    color: #E0E1DD;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    border: 0px; /* Cor da borda */
    outline: none; /* Tira a borda ao clicar */
    box-sizing: border-box;
    text-align: left;
}

input[type="password"]::placeholder {
    color: #E0E1DD; /* Cor do placeholder similar à da imagem */
    opacity: 1;

}

#iconlock{
    width: 24px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 381px;
    left: 144px;
    overflow: hidden;

}

button{
    width: 325px;
    height: 51px;
    background: rgba(119,141,169,0.07999999821186066);
    opacity: 1;
    position: absolute;
    top: 625px;
    left: 232px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    font-weight: bold;
    font-size: 17px;
    color: #E0E1DD;
    overflow: hidden;
  
}
