<footer class="footer row">
    <div class="col-12 col-md-3 logo-rodape">
        <a routerLink="/"><img src="assets/imagem/LogoComNome.png" alt="LAR Connect"></a>
    </div>

    <ul class="col-12 col-md-3 list-unstyled">
        <li><h3>Conteúdo</h3></li>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/cadastro">Cadastro</a></li>
        <li><a routerLink="/minha-conta">Minha Conta</a></li>
    </ul>

    <ul class="col-12 col-md-3 list-unstyled">
        <li><h3>Contatos</h3></li>
        <li><a href="mailto:exemplo@gmail.com">exemplo@gmail.com</a></li>
    </ul>
</footer>