<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificações - Morador - LAR Connect</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    
    <link href="css/style.css" rel="stylesheet" />
</head>

<body id="pagina_notificacoes_morador">

    <div class="container-fluid">
        
        <nav>
            <div class="menu">
                <button class="botao-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#E0E1DD" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </button>
                <h1>MENU</h1>
            </div>

            <img class="logotipo" src="../img/LogoComNome.png" alt="Logo do projeto">

            <div class="search-profile">
                <input type="text" placeholder="Search" name="Search" id="search">
                <button class="botao-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#E0E1DD" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>
                </button>
            </div>
        </nav>

        <article>
            <h1 class="titulo-pagina">Notificações de Entregas</h1>
            
            <section id="painel_entregas">
                
                <div class="painel-header">
                    <div class="header-left">
                        <i class="bi bi-list fs-3"></i>
                        <h2>Painel do usuário - Condomínio xxxxxx</h2>
                    </div>
                    
                    <div class="header-right">
                        <i class="bi bi-bell fs-4"></i>
                        <img src="../img/PessoasFelizes.jpg" alt="Perfil" class="painel-avatar">
                        <span class="seta-baixo">v</span>
                    </div>
                </div>

                <div class="painel-abas">
                    <button class="aba active">Notificações</button>
                    <button class="aba">Recebidas</button>
                </div>

                <div class="painel-body">
                    
                    <aside class="painel-sidebar">
                        <i class="bi bi-house-door fs-3"></i>
                        <i class="bi bi-box-seam fs-3 active"></i>
                        <i class="bi bi-gear fs-3"></i>
                    </aside>

                    <div class="lista-encomendas">
                        
                        <div class="card-encomenda">
                            <div class="icone-caixa">
                                <i class="bi bi-box fs-1"></i>
                            </div>
                            <div class="info-encomenda">
                                <span>Farmácia</span>
                                <small>17:36h</small>
                            </div>
                            <button class="btn-confirmar">Confirmar recebimento</button>
                        </div>

                        <div class="card-encomenda">
                            <div class="icone-caixa">
                                <i class="bi bi-box fs-1"></i>
                            </div>
                            <div class="info-encomenda">
                                <span>Ifood - Delivery</span>
                                <small>14:15h</small>
                            </div>
                            <button class="btn-confirmar">Confirmar recebimento</button>
                        </div>

                    </div>
                    </div>
            </section>
        </article>

        <footer class="footer row">
            <figure class="col logo-rodape">
                <a href="index.html"><img src="../img/LogoComNome.png" alt="Logo do Projeto"></a>
            </figure>
    
            <ul class="col">
                <li><h3>Conteúdo</h3></li>
                <li><a href="">Home</a></li>
                <li><a href="">Sobre Nós</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Cadastro</a></li>
                <li><a href="">Minha Conta</a></li>
            </ul>
    
            <ul class="contatos col">
                <li><h3>Contatos</h3></li>
                <li><a href="">exemplo@gmail.com</a></li>
                <li><a href="">+55(21)1111-1111</a></li>
            </ul>
    
            <ul class="apps col">   
                <li><h3>Apps</h3></li>
                <li><a href="">iOS</a></li>
                <li><a href="">Android</a></li>
            </ul>
    
            <ul class="equipe col">
                <li><h3>Equipe</h3></li>
                <li>
                    <figure class="equipe-fotos">
                        <img src="../img/PessoasFelizes.jpg" alt="foto">
                        <img src="../img/PessoasFelizes.jpg" alt="foto">
                        <img src="../img/PessoasFelizes.jpg" alt="foto">
                        <img src="../img/PessoasFelizes.jpg" alt="foto">
                    </figure>
                </li>
            </ul>
        </footer>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>